<div class="alert-container">
  <div class="alert alert-{{item.color}} fadeIn alert-dismissible fade show"
       *ngFor="let item of alerts$ | async; let i = index" role="alert">
    <div class="alert-message">
      <h4 class="alert-title" *ngIf="item.title">{{item.title}}</h4>
      <p class="alert-description" [innerHTML]="item.message"></p>
    </div>

    <button type="button" class="close" (click)="closeAlert(item.id)" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
